@model Laba_2.Models.Person

@{
    ViewBag.Title = "Созданный запрос";
}

<h2>Заказ:</h2>
<div class="account-info">
    @Html.LabelFor(model => model.Name)
    @Html.DisplayFor(model => model.Name)

    @Html.LabelFor(model => model.Order)
    @Html.DisplayFor(model => model.Order)

    @Html.LabelFor(model => model.Quantity)
    @Html.DisplayFor(model => model.Quantity)

    @Html.LabelFor(model => model.BirthDate)
    @Html.DisplayFor(model => model.BirthDate)

    @Html.LabelFor(model => model.Phone)
    @Html.DisplayFor(model => model.Phone)

    @Html.LabelFor(model => model.Adress)
    @Html.DisplayFor(model => model.Adress)

    @Html.LabelFor(model => model.Details)
    @Html.DisplayFor(model => model.Details)
</div>

<h2>
    <p class="hyperlink">@Html.ActionLink("База Данных", "Data_Base")</p>
    <p class="hyperlink">@Html.ActionLink("Сделать еще заказ", "Creat_Data")</p>
</h2>
